.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.progressContainer {
  width: 50%;
  height: 20px;
  margin: 10px;
}
#uploadProgress {
  height: 100%;
  width: 0;
  background-color: #76c7c0;
  transition: width 0.5s ease;
  border-radius: 10px;
}
.status {
  margin-top: 10px;
  min-height: 20px;
}
#root {
  padding: 10px;
}
.uploader {
  width: 50%;
}
.images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.image {
  width: 20%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
